Package: bag.xml.sigpass
Name: SigPass
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: bag.xml
Author: bag.xml
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
