<plist version="1.0">
<dict>
    <key>Filter</key>
    <dict>
        <key>Bundles</key>
        <array>
            <string>com.apple.Passbook</string>
            <string>com.apple.springboard</string>
        </array>
        <key>Executables</key>
        <array>
            <string>passd</string>
        </array>
    </dict>
</dict>
</plist>